<div class="container text-center">
    <img src="./../../../../assets/images/logo_a.PNG" alt="" class="img-fluid mb-4">
    <h3>
        Welcome to my solo-operated dealership simulator website, crafted to ensure a smooth interaction for both
        clients and administrators. Clients can effortlessly input their details via the landing page, while
        administrators gain access to a real-time dashboard showcasing live statistics. The site operates
        entirely on the client side, with runtime data stored locally for optimal efficiency. Featuring Angular,
        Angular Material, Bootstrap, and Highcharts for seamless interactions and real-time data.
        <br>
        <br>
        note: this site is loaded with preset data to the local host.
    </h3>
</div>
