<h2 mat-dialog-title>Thank You for Choosing Us!</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">

        <img src="./../../../../assets/images/logo_c.PNG" alt="Icon" class="icon-img col-md-4">
        <p class="col-md-6">We appreciate your interest in finding the perfect car for you! Our
            team is working diligently to tailor the best suggestions based on your preferences. Expect an email from us
            soon with personalized recommendations that align with your needs.</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>