 .container {
   height: 150px;
   text-align: center;
 }

 h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    
 }

 .text{
   margin-top: 15px;
 }
 .total {
    font-size: 3em;
 }

 .green{
    color: green;
 }
 .red{
    color: red;
 }

 .mat-icon {
    position: relative;
 }

